body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#header {
    background-color: #1f2937;
    flex-shrink: 1;
}

.header_settings {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.list_links {
    list-style-type: none;
    display: flex;
}

.list_links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}


.hero {
    background-color: #1f2937;
    padding: 60px 20px;     
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero_settings {
    max-width: 1200px;
    margin:  0 auto;
    display: flex;
}

.hero_left h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero_left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero_button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 28px;
    border-color: #3882f6;
    border: none;
    
}

.information {
    background-color: white;
    padding: 60px 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information_settings {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info_img {
    display: flex;
}

.info_img figure {
    margin: 0;
    padding: 0;
}

.quote {
    background-color: #e5e7eb;
    padding: 60px 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote_settings {
    max-width: 1200px;
    margin:  0 auto;
}

blockquote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

blockquote cite {
    font-weight: bold;
}

.cta {
    background-color: white;
    padding: 60px 20px;
    flex: 1;
    display: flex;
}

.cta_settings {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3882f6;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cta_settings h2 {
    color: white;
}

.cta_settings p {
    color: white;
}

.cta_button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 25px;
    border-color: #e5e7eb;
}

#footer {
    background-color: #1f2937;
    text-align: center;
    flex-shrink: 1;
}
/*




.hero_left h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero_left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero_left button {
    background-color: #3882f6;
    color: white;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_img {
    display: flex;
}

.info_img figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info_img figure img {
    border-radius: 10%;
}
*/